body {
    background-color: powderblue;
}

#topic_div {
    padding-top: 5px;
    padding-bottom: 25px;
    float: left;
}

#topic_type_div {
    padding-top: 55px;
    padding-bottom: 25px;
    padding-left: 16px;
    float: left;
}

#location_div {
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 16px;
    float: left;
}

#submit_div {
    float: right;
    padding-top: 55px;
    padding-bottom: 25px;
    padding-left: 16px;
    float: left;
}


#graph_div {
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}


#title_label {
    color: black;
    font-family: courier;
    font-size: 225%;
    text-align: center;
}

#header_div {
    width: 63%;
    margin: 0 auto;
    color: black;
    font-family: courier;
    font-size: 100%;
    text-align: center;
}
