body {
    background-color: rgba(55,133,76,.5);
}

#inputDiv {
    position: fixed;
    top: 20%;
    left: 15%;
    margin-top: -50px;
    margin-left: -100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      18px;
    font-weight:    bold;
}

#resLabel {

}

#locLabel {

}

#revLabel {

}

#add_favorite_label {
    position: fixed;
    top: 10%;
    left: 13%;
    margin-top: -50px;
    margin-left: -100px;
    /*background-color: #788D72;*/
    color: rgba(12,44,83,.75);
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      32px;
    font-weight:    bold;

}

#favorites_submit_button {
    position: fixed;
    top: 55%;
    left: 15%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: rgba(12,44,83,.5);
    color: #2c2c2d;
    width: 115px;
    height: 50px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      24px;
    font-weight:    bold;
}

#favsDiv {
    /* move to right of screen */
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      18px;
    font-weight:    bold;
}

#favsLabel {

}
