body {
    background-color: white;
}

#button_div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#stats_button_div {
    position: fixed;
    top: 10%;
    left: 28.2%;
    margin-top: -50px;
    margin-left: -100px;
}

#favorites_button_div {
    position: fixed;
    top: 70%;
    left: 28.2%;
    margin-top: -50px;
    margin-left: -100px;
}

#yelp_help_button_div {
    position: fixed;
    top: 42%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}

#add_and_review_button_div {
    position: fixed;
    top: 10.5%;
    left: 67%;
    margin-top: -50px;
    margin-left: -100px;
}

#quiz_button_div {
    position: fixed;
    top: 70%;
    left: 67%;
    margin-top: -50px;
    margin-left: -100px;
}
