body {
    background-color: #e8e264;
}

#mc_div_Rating {
    position: fixed;
    top: 10%;
    left: 15%;
    margin-top: -50px;
    margin-left: -100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      18px;
    font-weight:    bold;
    width: 270.13px;
    height: 313px;
    color: #0c2c53;
    border:1px solid #0c2c53;
    outline-color:#0c2c53;
    outline-style:solid;
    /*outline-offset: 15px;*/
    background-color: rgba(223,110,36, .5);
    /*text-align: center;*/
}

p {
    font-size:      30px;
    font-weight:    bold;
    color: #0c2c53;
}

label {
    padding-left: 10px;
}

#mc_label_rating {
    vertical-align: middle;
}

#mc_div_Ambience {
    position: fixed;
    top: 65%;
    left: 15%;
    width: 270.13px;
    height: 300px;
    margin-top: -50px;
    margin-left: -100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      18px;
    font-weight:    bold;
    color: #0c2c53;
    border:1px solid #0c2c53;
    outline-color:#0c2c53;
    outline-style:solid;
    /*outline-offset: 15px;*/
    background-color: rgba(223,110,36, .5);
}

#mc_div_State {
    position: fixed;
    top: 64%;
    left: 60%;
    width: 270.13px;
    height: 300px;
    margin-top: -50px;
    margin-left: -100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      18px;
    font-weight:    bold;
    color: #0c2c53;
    border:1px solid #0c2c53;
    outline-color:#0c2c53;
    outline-style:solid;
    /*outline-offset: 15px;*/
    background-color: rgba(223,110,36, .5);
}

#mc_div_Cuisine {
    position: fixed;
    top: 10%;
    left: 60%;
    width: 270.13px;
    height: 313px;
    margin-top: -50px;
    margin-left: -100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      18px;
    font-weight:    bold;
    color: #0c2c53;
    border:1px solid #0c2c53;
    outline-color:#0c2c53;
    outline-style:solid;
    /*outline-offset: 15px;*/
    background-color: rgba(223,110,36, .5);
}

#search_div {
    position: fixed;
    top: 50%;
    left: 85%;
    margin-top: -50px;
    margin-left: -100px;
}

#search_button {
    background-color: #37854c;
    color: #2c2c2d;
    width: 200px;
    height: 100px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      30px;
    font-weight:    bold;
}

#result_div {
    position: fixed;
    top: 48%;
    left: 38%;
    margin-top: -50px;
    margin-left: -100px;
}
