body {
  background-color: #FF9687;
}

#l1 {
	position:absolute;
    top: 12%;
    left:1%;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      14px;
    font-weight:    bold;
    color: #2c2c2d;
}

#l2 {
	position:absolute;
    top: 12%;
    left:15%;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      14px;
    font-weight:    bold;
    color: #2c2c2d;
}

#l3 {
	position:absolute;
    top: 12%;
    left:29%;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      14px;
    font-weight:    bold;
    color: #2c2c2d;
}

#textLabel {
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      24px;
    font-weight:    bold;
    color: #2c2c2d;
}

#myButton {
    position: fixed;
    top: 25%;
    left: 10%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #788D72;
    color: #2c2c2d;
    width: 100px;
    height: 50px;
    font-family:    Georgia, Helvetica, sans-serif;
    font-size:      20px;
    font-weight:    bold;
}

#button {
	position:absolute;
	transition: .5s ease;
	top:30%;
	left:21.5%;
}
.content {
  position:absolute;
  top: 25%;
  left:43%;
  transform: translate(-50%, -50%);
}

.chopstick_1{
  height:400px;
  width:15px;
  background-color:black;
  position:absolute;
  transform:rotate(-12deg);
  border-radius:20px;
  left:240px;
  top:-600px;
  animation: slideDown1 2s;
  animation-delay:3s;
  animation-fill-mode:forwards;
}

.chopstick_2{
  height:400px;
  width:15px;
  background-color:black;
  transform:rotate(-6deg);
  border-radius:20px;
position:absolute;
  top:-600px;
    z-index:-1;
  left:220px;
  animation: slideDown1 2s;
  animation-delay:3s;
  animation-fill-mode:forwards;
}

.seaweed {
  height: 95px;
  width: 95px;
  background-color: #1C3845;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 2px;
}

.rice {
  height: 85px;
  width: 85px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.rice_grain_1 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #DAF1EE;
  position: relative;
  top: 35px;
  left: 2px;
}

.rice_grain_2 {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #DAF1EE;
  position: relative;
  top: 36px;
  left: 3px;
}

.rice_grain_3 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #DAF1EE;
  position: relative;
  top: -11px;
  left: 25px;
}

.fish {
  position: absolute;
  height: 60px;
  width: 35px;
  background-color: #FC875E;
  left: 40px;
  top: 13px;
  overflow: hidden;
  border-top-right-radius: 40px;
  /* 100px of height + 10px of border */
  border-bottom-right-radius: 40px;
  /* 100px of height + 10px of border */
  border: 0px solid #FC875E;
  border-bottom: 0;
}

.veggie_1 {
  background-color: #C8D37A;
  height: 30px;
  width: 30px;
  -moz-border-radius: 30px 0 0 0;
  border-radius: 30px 0 0 0;
  top: -11px;
  left: 11px;
  position: relative;
}

.veggie_2 {
  background-color: #C9C9AE;
  height: 30px;
  width: 30px;
  -moz-border-radius: 0px 0 0 30px;
  border-radius: 0px 0 0 30px;
  top: -11px;
  left: 11px;
  position: relative;
}

.fish_lines_1 {
  width: 75px;
  height: 55px;
  border-radius: 50%;
  -ms-box-shadow: 0px 7px 0 0 #ffffff;
  -o-box-shadow: 0px 7px 0 0 #ffffff;
  -webkit-box-shadow: 0px 7px 0 0 #ffffff;
  box-shadow: 0px 7px 0 0 #ffffff;
  opacity: 0.3;
  left: 0px;
  top: -10px;
  position: absolute;
}

.fish_lines_2 {
  width: 85px;
  height: 45px;
  border-radius: 50%;
  -ms-box-shadow: 0px 7px 0 0 #ffffff;
  -o-box-shadow: 0px 7px 0 0 #ffffff;
  -webkit-box-shadow: 0px 7px 0 0 #ffffff;
  box-shadow: 0px 7px 0 0 #ffffff;
  opacity: 0.3;
  left: -15px;
  top: -33px;
  position: absolute;
  transform: rotate(20deg);
}

@keyframes slideIn {
  from {
    left: 0%;

  }
  to {
  margin-left: 50%;

  }
}

@keyframes rotate {
  from {
   transform:rotate(360deg);

  }
  to {
    transform:rotate(0deg);

  }
}


#sushi_2 {
  left: 120px;
  position: relative;
  animation:slideIn 3s;
}

#sushi_3 {
  left: -120px;
  position: relative;
   animation:slideIn 3s;
}

#sushi_2 .veggie_1 {
  background-color: #94A98E;
}

#sushi_2 .veggie_2 {
  background-color: #FDC980;
}

#sushi_2 .fish,
#sushi_3 .fish {
  background-color: #E98375;
}

#sushi_1 .fish {
  transform: rotate(180deg);
  -webkit-transform:rotate(180deg);
  left: 11px;
}

#sushi_1 .veggies .veggie_1 {
  transform: rotate(90deg);
  -webkit-transform:rotate(90deg);
  left: 44px;
}

#sushi_1 .veggies .veggie_2 {
  transform: rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  left: 44px;
  background-color: #C5473E;
}

#sushi_2 .rice_grain_1,
#sushi_2 .rice_grain_2 {
  left: 75px;
}

#sushi_2 .rice_grain_3 {
  left: 55px;
  top: -3px;
}

#sushi_3 .rice_grain_2 {
  top: 60px;
  left: 65px;
}

#sushi_3 .rice_grain_1 {
  top: 55px;
  left: 6px;
}

#sushi_3 .rice_grain_3 {
  left: 10px;
  top: 3px;
}

#sushi_1{
   animation:slideIn 3s;
   position: relative;
}

#sushi_1 .rice, #sushi_2 .rice, #sushi_3 .rice{
     animation:rotate 3s;
}

@keyframes slideDown1{
   0%{
   top:-600px;
  }
  100%{
    top:-300px;
  }

}
